.project-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;


  background: #eee;
  color : #222;

  transition: all 0.3s;

  &.active{
    background: #222;
    color: #eee;
  }

  .project-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100rem;
    height: 80rem;
    .project-view-src{ // 프로젝트를 상징하는 이미지 혹은 gif player를 담고 있는 경우.
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45rem;

      opacity: 0;
      transform: translateX(-10rem);

      transition: opacity 0.5s ease-in, transform 0.5s ease;


      &.active-move{
        opacity: 1;
        transform: translateX(0);
      }

      .image-expand-icon{
        font-size: 6rem;
      }

    }
    .project-introduce{ // 프로젝트 설명 부분
      display: flex;
      flex-direction: column;

      align-items: center;
      padding-left: 7rem;

      opacity: 0;
      transform: translateX(10rem);
      transition-delay: 1s;
      transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;


      &.active-move{
        opacity: 1;
        transform: translateX(0);
      }

      .title-section{
        font-size: 5rem;
      }

      hr{
        width: 100%;
        line-height: 4px;
      }

      .introduce-section{
        font-size: 1.5rem;
      }
    }
  }

  // 20% 진입 시,
  /*
  background: #222222;
  color: #eeeeee;
  */

}