.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;

  .hello-world{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
}