
.skill-section-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 3rem;
  .section-title{
    padding : 2rem;
    font-size: 3rem;
  }
  .skill-line{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    background-color: #eee; // 임시 배경 색 -> 나중에 통일

    border-radius: 1rem;

    .skill-cell{
      padding : 1rem;
      border-radius: 1rem;

      transition: all 0.3s;

      &:hover{
        box-shadow: gray 2px 2px 10px;
        margin: 1rem;
      }
    }
  }
}