@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.about-me-component{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;

  width: 70rem;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;

  .column-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    border: 2px solid #eee; // 마우스 올릴 시, flex로 인한 약간의 위치 이동을 막기 위함. -> 자연스러움.
    border-radius: 1rem;


    transition: all 0.3s;

    &:hover{
      // border: 2px solid gray;
      background: white;
      box-shadow: gray 2px 2px 10px;
      scale: 110%;
    }

    .info-cell{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;


      .info-logo{
        font-size: 3rem;
      }
      .info-title{
        font-size: 1.5rem;
        font-weight: bolder;
        padding-bottom: 1rem;
        color: #444;
      }
      .info-text{
        font-size: 1.125rem;
        font-weight: bold;
      }
    }
  }
}