
$image-width : 60rem;
$image-height : $image-width * (6 / 9);

.expand-image-scroll-component{

  width: $image-width;
  height: $image-height;

  .expand-image-scroll-num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #eeeeee;
    padding-bottom: 1rem;

    font-size: ($image-height / 10);
    transition: all 0.3s;

    .expand-current-img-number{

    }
    .expand-slash{

    }
    .expand-last-img-number{

    }
  }

  .expand-image-view{
    width: 100%;
    opacity: 1;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 1rem;
  }

  .expand-image-scroller{
    width: inherit;
    display: flex;
    flex-direction: row;
    padding-top : 1rem;

    justify-content: space-between;

    // top : 12rem;
    color: #222222;

    font-size: 2rem;
    .expand-image-pre{
      display: flex;
      padding: 1rem;

      background: #bbb;
      opacity: 0.8;

      border-radius: 1rem;

      transition: padding 0.3s, opacity 0.3s;
      &:hover{
        padding : 1.3rem;
        opacity: 1;
      }
    }
    .expand-image-next{
      display: flex;
      padding: 1rem;

      background: #bbb;
      opacity: 0.8;

      border-radius: 1rem;

      transition: padding 0.3s, opacity 0.3s;
      &:hover{
        padding : 1.3rem;
        opacity: 1;
      }
    }
  }

  .expand-image-close-button{
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.8;
    margin-top: 1rem;
    height: 3rem;

    font-size: 2rem;
    background: #bbb;
    color: black;
    border-radius: 2rem;

    transition: padding 0.3s, opacity 0.3s, font-size 0.3s;
    &:hover{
      padding : 1.3rem;
      opacity: 1;
      font-size: 3rem;
    }
  }
}