@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$base-color : black;
$back-color : #9adcfc;

.skill-set-component{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  background: $base-color;
  color : $back-color;
  transition-duration: 0.3s;

  &.active{
    background: $back-color;
    color : $base-color;
  }

  .skill-set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skill-set-title{
      font-size: 4rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bolder;
    }
    hr{
      width: 20rem;
    }
    .skill-sections{
      display: flex;
      flex-direction: row;
      .skill-section{

      }
    }
  }
}

.skill-section-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 3rem;
  .section-title{
    padding : 2rem;
    font-size: 3rem;
  }
  .skill-line{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    background-color: #eee; // 임시 배경 색 -> 나중에 통일

    border-radius: 1rem;

    .skill-cell{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding : 1rem;
      border-radius: 1rem;

      transition: all 0.3s;

      .several-img{
        padding: 1rem;
      }

      &:hover{
        box-shadow: gray 2px 2px 10px;
        margin: 1rem;
      }
    }
  }
}