// @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.introduce-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top : 10rem;
  padding-bottom : 10rem;
  font-family: 'Roboto', sans-serif;


  .introduce-title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  hr{
    width : 80%;
  }

  .introduce-information {
    font-family: 'Pacifico', cursive;
  }
}